In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('dulieuxettuyendaihoc.csv')

In [4]:
df

,MSSV,T1,T2,T3,T4,T5,T6,GT,DT,KV,NGONNGU,TOANLOGICPHANTICH,GIAIQUYETVANDE,KT,NGAYTHI,DINHHUONGNGHENGHIEP
0,SV001,7.2,8.4,7.4,7.2,7.4,6.9,F,NaN,2NT,3.25,3.25,4.50,A1,12/7/2018,No
1,SV002,5.4,6.3,4.3,4.9,3.0,4.0,M,NaN,1,6.00,4.00,3.50,C,12/7/2018,Yes
2,SV003,5.6,5.0,2.8,6.1,4.8,5.7,M,NaN,1,5.00,6.75,4.00,C,12/7/2018,No
3,SV004,6.6,5.1,5.9,4.1,6.1,7.4,M,NaN,1,4.25,4.25,5.25,D1,12/7/2018,No
4,SV005,6.0,5.4,7.6,4.4,6.8,8.0,M,NaN,2NT,4.25,4.50,5.00,A,12/7/2018,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SV0096,8.6,8.9,7.7,6.7,7.9,6.6,F,NaN,1,5.25,1.50,6.25,C,7/20/2022,Yes
96,SV0097,3.7,4.1,3.1,3.4,5.5,5.7,F,NaN,1,5.25,3.75,4.75,C,7/20/2022,No
97,SV0098,8.8,9.5,9.5,8.5,9.0,8.5,M,NaN,2NT,7.00,8.00,4.00,C,7/20/2022,Yes
98,SV0099,2.7,2.8,6.2,5.2,4.1,4.3,M,NaN,1,5.00,3.50,5.50,C,7/20/2022,No
99,SV00100,4.1,4.4,6.0,4.3,5.6,5.1,M,NaN,2NT,5.25,2.50,4.25,C,7/20/2022,Yes

In [5]:
df=df[['T5','T6','GT','DT','KV','KT','NGONNGU','TOANLOGICPHANTICH', 'GIAIQUYETVANDE','NGAYTHI','DINHHUONGNGHENGHIEP']]

In [6]:
df.rename(columns={'TOANLOGICPHANTICH':'LOGIC','GIAIQUYETVANDE':'UNGXU','DINHHUONGNGHENGHIEP':'HUONGNGHIEP'},inplace=True)

C:\Users\THANH DUOC\AppData\Local\Temp\ipykernel_21276\2598090940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'TOANLOGICPHANTICH':'LOGIC','GIAIQUYETVANDE':'UNGXU','DINHHUONGNGHENGHIEP':'HUONGNGHIEP'},inplace=True)

In [7]:
df

     T5   T6 GT  DT   KV  KT  NGONNGU  LOGIC  UNGXU    NGAYTHI HUONGNGHIEP
0   7.4  6.9  F NaN  2NT  A1     3.25   3.25   4.50  12/7/2018          No
1   3.0  4.0  M NaN    1   C     6.00   4.00   3.50  12/7/2018         Yes
2   4.8  5.7  M NaN    1   C     5.00   6.75   4.00  12/7/2018          No
3   6.1  7.4  M NaN    1  D1     4.25   4.25   5.25  12/7/2018          No
4   6.8  8.0  M NaN  2NT   A     4.25   4.50   5.00  12/7/2018          No
..  ...  ... ..  ..  ...  ..      ...    ...    ...        ...         ...
95  7.9  6.6  F NaN    1   C     5.25   1.50   6.25  7/20/2022         Yes
96  5.5  5.7  F NaN    1   C     5.25   3.75   4.75  7/20/2022          No
97  9.0  8.5  M NaN  2NT   C     7.00   8.00   4.00  7/20/2022         Yes
98  4.1  4.3  M NaN    1   C     5.00   3.50   5.50  7/20/2022          No
99  5.6  5.1  M NaN  2NT   C     5.25   2.50   4.25  7/20/2022         Yes

[100 rows x 11 columns]

In [ ]:
#kiêm dinh tuong quan giữa hsi biến định lượng
#h0: r=0

In [9]:
import scipy.stats as stats

In [13]:
from  scipy.stats import pearsonr

In [14]:
#cau 5 : kiem tra toán hk1 12 và hk2 12 co tuong quan hay không
pearsonr(df['T5'],df['T6'])

PearsonRResult(statistic=0.7786831657869809, pvalue=1.4846407216273725e-21)

In [ ]:
#t5 vs T6 có tương quan vs nhau vs mức sai lầm 5% trên mẫu

In [ ]:
#định tính 
#fissher(<30)
#schisquare(>30)
#H0

In [15]:
#kiem dinh pearsonr t5 voi logic
pearsonr(df['T5'],df['LOGIC'])

PearsonRResult(statistic=0.1846466122601273, pvalue=0.06590059130545421)

In [ ]:
\\kết luận trên mẫu: tương quan thuận,mức độ tương quan rất cao r=0.778
\\suy diên trên tổng thể : đủ dl để nói t5 t6 có tương quan vs nhau vs mức sai lầm 5%
\\với p_value=1.486472

In [18]:
#mục đích kiểm tra sự độc lập giữa hai  biến định tính dạng 2x2
#H0 không có sự khác biệt giawux hai biến
crosdata=pd.crosstab(df['GT'],[df['HUONGNGHIEP']],rownames=['GT'],colnames=['HUONGNGHIEP'])
crosdata

HUONGNGHIEP  No  Yes
GT
F            23   25
M            32   20

In [19]:
odd_ratio,p_value=stats.fisher_exact(crosdata)
print('odd ratio is : '+str(odd_ratio))
print('p_value is '+str(p_value))

odd ratio is : 0.575
p_value is 0.22763927303454412

In [ ]:
#kết luận
#chấp nhaapn H0 vì pvalue =0.22276>aphae =0.05
tức là đủ dl để nói rang huong nghiep và gt là độc lập

In [20]:
#chi_square test
from scipy.stats import chi2_contingency

In [22]:
#kt kt và kv
crosdata=pd.crosstab(df['KV'],[df['KT']],rownames=['KV'],colnames=['KT'])
crosdata

KT    A  A1  B  C  D1
KV
1    29   2  8  8  13
2     9   0  0  2   8
2NT  11   4  1  4   1

In [23]:
stat,p,dof,expected=chi2_contingency(crosdata)

In [25]:
#interpret p_value
alpha=0.05
print('p value is '+ str(p))
if p <= alpha:
    print('dependent (reject H0)')
else:
    print('independent (H0 hold true)')

p value is 0.02012461887796485
dependent (reject H0)

In [ ]:
#bác bỏ h0 giữ khối thi và khu vực
#tuc là không đủ dl để nói rằng kv và kt là độc lập hay có sự quan hệ giữa kt và kv

In [ ]:
#gt và kt có quan hệ hay không

In [26]:
crosdata=pd.crosstab(df['GT'],[df['KT']],rownames=['GT'],colnames=['KT'])
crosdata

KT   A  A1  B  C  D1
GT
F   15   5  4  8  16
M   34   1  5  6   6

In [27]:
stat,p,dof,expected=chi2_contingency(crosdata)

In [28]:
#interpret p_value
alpha=0.05
print('p value is '+ str(p))
if p <= alpha:
    print('dependent (reject H0)')
else:
    print('independent (H0 hold true)')

p value is 0.005044752209452435
dependent (reject H0)

In [ ]:
#ketluan: pvalue =0.005 <anpha=0.05
#tuc là không đủ dl để nói rằng gt và kt là độc lập hay có sự quan hệ giữa kt và kv

In [34]:
#one way anova

SyntaxError: invalid syntax (2880255961.py, line 2)

In [35]:
pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.0-cp310-cp310-win_amd64.whl (9.2 MB)
     ---------------------------------------- 9.2/9.2 MB 269.9 kB/s eta 0:00:00
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from statsmodels) (1.9.3)
Requirement already satisfied: pandas>=1.0 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from statsmodels) (1.4.4)
Requirement already satisfied: packaging>=21.3 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from statsmodels) (21.3)
Requirement already satisfied: numpy>=1.22.3 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from statsmodels) (1.23.2)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     ------------------------------------ 233.8/233.8 kB 213.6 kB/s eta 0:00:00
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from packaging>=21.3->statsmodels) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from pandas>=1.0->statsmodels) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: six in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.3 statsmodels-0.14.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
#diem toan hk2 lớp 12 phu thuoc gt hay khong
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [42]:
model=ols('T6~GT',data=df).fit()
aov_table=sm.stats.anova_lm(model,type=1)
aov_table

            df     sum_sq  mean_sq         F    PR(>F)
GT         1.0    1.55201  1.55201  0.833769  0.363426
Residual  98.0  182.42109  1.86144       NaN       NaN

In [ ]:
#tra loi
#h0: mean (nhóm gt bằng nhau)
#p_value =0.363426 >0.05-> chấp thuận
#không phụ thuộc

In [43]:
#ccau hỏi : Logic có phụ thuocj khu vưc kh
model=ols('LOGIC~KV',data=df).fit()
aov_table=sm.stats.anova_lm(model,type=1)
aov_table

            df      sum_sq   mean_sq         F    PR(>F)
KV         2.0    6.053398  3.026699  2.790934  0.066299
Residual  97.0  105.194102  1.084475       NaN       NaN

In [44]:
#ccau hỏi : UNGXU  có phụ thuocj KT kh
model=ols('UNGXU~KT',data=df).fit()
aov_table=sm.stats.anova_lm(model,type=1)
aov_table

            df      sum_sq   mean_sq         F   PR(>F)
KT         4.0    3.967636  0.991909  0.911814  0.46041
Residual  95.0  103.344864  1.087841       NaN      NaN

In [ ]:
#không phu jthuoc

In [45]:
#hay cho biết logic có phụ thuoc GT  trên từng nhóm kv hay khnog
model=ols('LOGIC~GT+KV+GT:KV',data=df).fit()
result=sm.stats.anova_lm(model,type=2)

In [46]:
result

            df     sum_sq   mean_sq         F    PR(>F)
GT         1.0   3.998401  3.998401  3.853364  0.052602
KV         2.0   8.561314  4.280657  4.125382  0.019173
GT:KV      2.0   1.149707  0.574854  0.554002  0.576510
Residual  94.0  97.538077  1.037639       NaN       NaN

In [ ]:
#pvalue =0.052602 -> logic độc lâp GT
#pvalue=0.019173 -> logic phu thuoc theo nhom KV
#p_value= 0.576510 -> logic doc lap theo nhom trên từng loại kv

In [ ]:
#phantich NN ~KV TRên tung loại KT hay không

In [48]:
model=ols('NGONNGU~GT+KV:KV',data=df).fit()
result=sm.stats.anova_lm(model,type=2)

In [49]:
result

            df      sum_sq   mean_sq         F    PR(>F)
GT         1.0    1.203141  1.203141  0.588787  0.444772
KV         2.0    3.493206  1.746603  0.854744  0.428604
Residual  96.0  196.168653  2.043423       NaN       NaN