In [1]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.22.0-py2.py3-none-any.whl (1.4 MB)
     ---------------------------------------- 1.4/1.4 MB 2.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.2 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from mlxtend) (1.23.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: setuptools in c:\users\thanh duoc\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (65.5.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from mlxtend) (1.9.3)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from mlxtend) (3.5.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (4.37.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from pandas>=0.24.2->mlxtend) (2022.2.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in c:\users\thanh duoc\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.22.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
df = pd.read_csv('GroceryStoreDataSet.csv', names = ['products'], sep = ',')
df.head()

                        products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [4]:
df.shape

(20, 1)

In [5]:
data = list(df["products"].apply(lambda x:x.split(",") ))
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [7]:
#Let's transform the list, with one-hot encoding
from mlxtend.preprocessing import TransactionEncoder
a = TransactionEncoder()
a_data = a.fit(data).transform(data)
df = pd.DataFrame(a_data,columns=a.columns_).astype(int)
df = df.replace(False,0)
df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1
5,0,1,1,0,0,0,0,0,0,0,1
6,0,0,0,0,0,1,0,1,0,0,1
7,1,0,1,0,0,0,0,1,0,0,1
8,0,0,1,0,0,0,1,1,0,0,1
9,0,0,1,0,0,0,0,0,1,0,0
10,1,0,0,1,1,1,0,0,0,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,0,1,0,0,1,0,0,0,0,1,0
13,0,0,1,1,1,0,0,0,0,0,0
14,1,0,1,0,0,0,0,0,0,1,0
15,0,0,0,0,1,1,0,0,0,1,0
16,0,1,1,0,0,0,0,0,0,1,0
17,0,0,1,0,1,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,0,0,1,1,0,0,1,0,1

In [8]:
#set a threshold value for the support value and calculate the support value.
df = apriori(df, min_support = 0.2, use_colnames = True, verbose = 1)
df

Processing 42 combinations | Sampling itemset size 3

c:\Users\THANH DUOC\AppData\Local\Programs\Python\Python310\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support              itemsets
0      0.35             (BISCUIT)
1      0.20           (BOURNVITA)
2      0.65               (BREAD)
3      0.40              (COFFEE)
4      0.30          (CORNFLAKES)
5      0.25               (MAGGI)
6      0.25                (MILK)
7      0.30               (SUGER)
8      0.35                 (TEA)
9      0.20      (BISCUIT, BREAD)
10     0.20         (MILK, BREAD)
11     0.20        (SUGER, BREAD)
12     0.20          (BREAD, TEA)
13     0.20  (CORNFLAKES, COFFEE)
14     0.20       (SUGER, COFFEE)
15     0.20          (TEA, MAGGI)

In [9]:
#Let's view our interpretation values using the Associan rule function.
df_ar = association_rules(df, metric = "confidence", min_threshold = 0.6)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.75,0.250000
1,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.05,0.035714
2,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80,0.571429
3,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80,0.571429
4,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.25,0.750000

In [ ]:
'''Ví dụ, nếu chúng ta xem xét giá trị chỉ số ở chỉ mục 1:

Xác suất để có doanh số bán đường là 30%.
Tiêu thụ bánh mì được xem là 65%.
Chúng ta có thể nói rằng sự hỗ trợ cho cả hai mặt hàng này được đo lường là 20%.
67% người mua đường cũng mua bánh mì.
Người dùng mua đường có khả năng tiêu thụ 3% bánh mì hơn so với người dùng không mua đường.
Tương quan giữa chúng được xem là 1.05.
Kết quả là, nếu mặt hàng X và Y được mua cùng nhau thường xuyên hơn, có thể thực hiện một số biện pháp để tăng lợi nhuận. Ví dụ:

Cải thiện Cross-Selling bằng cách kết hợp các sản phẩm - mặt hàng.
Thay đổi bố cục cửa hàng để tăng doanh số bằng cách đặt các mặt hàng cụ thể cạnh nhau.
Thực hiện các hoạt động khuyến mãi như chiến dịch quảng cáo để tăng doanh số của các mặt hàng mà khách hàng không mua.
Cung cấp chiết khấu tổng hợp cho cả hai sản phẩm nếu khách hàng mua cả hai
'''