In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

In [2]:

social_N_data = pd.read_csv('Social_Network_Ads.csv')

In [4]:
gender = pd.get_dummies(social_N_data['Gender'], drop_first=True)
gender

      Male
0     True
1     True
2    False
3    False
4     True
..     ...
395  False
396   True
397  False
398   True
399  False

[400 rows x 1 columns]

In [5]:
social_N_data.drop('Gender',axis=1,inplace=True)

In [6]:
social_N_data = pd.concat([social_N_data,gender], axis=1)

In [7]:
social_N_data.head()

    User ID  Age  EstimatedSalary  Purchased   Male
0  15624510   19            19000          0   True
1  15810944   35            20000          0   True
2  15668575   26            43000          0  False
3  15603246   27            57000          0  False
4  15804002   19            76000          0   True

In [8]:
X = social_N_data.iloc[:,[0,1,3]] # Age, EstimatedSalary and Male
X.head()

    User ID  Age  Purchased
0  15624510   19          0
1  15810944   35          0
2  15668575   26          0
3  15603246   27          0
4  15804002   19          0

In [9]:
y = social_N_data.iloc[:, 2] # Purchased
y.head()

0    19000
1    20000
2    43000
3    57000
4    76000
Name: EstimatedSalary, dtype: int64

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)
X

array([[-0.93657932, -1.78179743, -0.74593581],
       [ 1.66838653, -0.25358736, -0.74593581],
       [-0.32087714, -1.11320552, -0.74593581],
       ...,
       [-0.52039175,  1.17910958,  1.34059793],
       [ 0.88695546, -0.15807423, -0.74593581],
       [-1.36231017,  1.08359645,  1.34059793]])

In [11]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=10)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(360, 3)
(40, 3)
(360,)
(40,)

In [13]:
from sklearn.linear_model import LogisticRegression  
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
# flatten() Ä‘á»•i ra dáº¡ng sá»‘

LogisticRegression()

In [15]:
classifier.coef_

array([[ 0.10309749, -0.69423279, -0.54833583],
       [-0.61707871, -0.9865975 , -0.3726254 ],
       [ 0.26393895, -0.69531068, -0.54814892],
       [-0.45938444, -0.55566033, -0.66469919],
       [-0.37951463, -1.18162852, -0.3348919 ],
       [-0.07804734, -0.21707355,  0.2555619 ],
       [-0.23339773, -0.25066451,  0.22955598],
       [-0.53706705,  0.17477549, -0.07884968],
       [-0.82362302, -0.270827  ,  0.13933757],
       [ 0.13460376, -0.27722086, -0.13854911],
       [-0.66841528, -0.0860728 ,  0.43977822],
       [ 0.54799416, -0.77324869, -0.52638978],
       [-0.09821696, -0.20405954,  0.09474124],
       [ 0.19800874,  0.89058211,  0.55644928],
       [-0.00284392,  0.18568777,  0.06638413],
       [ 1.11806999, -0.3992798 , -0.51364626],
       [ 0.22551914, -0.46473975,  0.21477305],
       [-0.26905021,  0.32596703,  0.00469748],
       [-0.1247044 ,  0.70697377,  0.23598955],
       [-0.03771047, -0.13015807,  0.18116885],
       [-0.15277912, -0.060466  ,  0.42000116],
       [ 0.49143396, -0.42373423, -0.3454615 ],
       [ 0.10681466,  0.78485329,  0.04281951],
       [ 0.05874735,  0.76481295, -0.21228317],
       [-0.37305616,  0.20000346,  0.31025222],
       [ 0.17075182,  1.81079415, -0.67983154],
       [ 0.29503068, -0.52639132, -0.67796388],
       [ 0.66957893, -0.13925786, -0.80359223],
       [-0.29152321,  0.35908104, -0.00877888],
       [-0.61975282,  1.0575422 ,  0.35634731],
       [-1.02391805, -0.22157683, -0.5572888 ],
       [ 0.2384313 , -0.47466744,  0.09191224],
       [-0.10753637,  0.36445658, -0.6347585 ],
       [-0.52663004,  0.38948528, -0.42704267],
       [-0.14913873, -0.07076067, -0.96022634],
       [-0.27820902,  0.38104952, -0.88831371],
       [ 0.10203809,  0.5843755 , -0.96928402],
       [ 0.58052775, -0.70727933, -0.74121975],
       [-0.16432016,  0.35893885, -1.12563037],
       [-0.13768582, -0.46565014, -0.69566111],
       [ 0.07029268,  0.48304219, -1.03303639],
       [ 0.00695245,  0.79435262, -0.61991622],
       [-0.11601972,  0.35946163, -1.12666332],
       [ 0.23975915, -0.09477582, -0.60667265],
       [-0.49958629, -0.40664753, -0.7105069 ],
       [-0.05119757,  0.37362304, -0.53641104],
       [-0.43795365,  0.83983198, -1.24407902],
       [ 0.14120685, -0.66486865, -0.4518781 ],
       [-0.65884801, -1.19116894, -0.41782893],
       [ 0.04986628, -0.13498254, -0.40954285],
       [ 0.45319823, -0.08894415,  0.19405562],
       [ 0.07676841,  0.25994046, -0.58789878],
       [-0.2186066 ,  0.61859337, -1.04965016],
       [-0.7671934 ,  0.15872496, -0.16122657],
       [-0.37623895,  0.60790329, -0.51396864],
       [ 0.29111795,  0.31072172, -0.75583075],
       [ 0.45699116, -0.07998121, -0.07355711],
       [ 0.29898113,  0.28344377, -0.86061886],
       [-0.43556872, -0.00546094,  0.13757625],
       [ 0.24225128,  0.18738616, -0.51635273],
       [ 0.33887267, -0.04908851, -0.7277635 ],
       [ 0.36331108, -0.94651287, -0.38720184],
       [-0.5255734 , -0.68478595, -0.15167702],
       [ 0.45368541,  0.88537689, -0.68281442],
       [ 0.65277418, -0.89027144, -0.49578953],
       [ 0.29305817, -0.99373062, -0.37723474],
       [-0.53730227, -0.82503731, -0.00824955],
       [-0.36078268, -0.50745087,  0.10945068],
       [ 0.40069497, -0.16089832,  0.07201356],
       [ 0.57617887, -0.48688909, -0.24216494],
       [-0.05715566, -0.08277309,  0.19332439],
       [-0.20852622, -0.35934549,  0.71138298],
       [ 0.32023266, -0.2536784 ,  0.68049796],
       [-0.96289765,  0.94202629,  0.38593679],
       [-0.00410108, -0.13827847,  0.62058319],
       [ 0.46752474, -0.36298234,  0.71116235],
       [ 0.06121831, -0.3060049 ,  0.69527571],
       [ 0.39974004, -0.52572987,  0.75566488],
       [-0.2436313 ,  0.93129371,  0.37816744],
       [-0.76161845,  1.05902382,  0.35783937],
       [-0.29789643,  0.86381375,  0.78242182],
       [ 0.27988123,  0.28939753,  0.53098619],
       [-0.77970297, -0.13541971,  0.65657221],
       [ 0.25693139, -0.40674515,  1.1390924 ],
       [ 1.26521271,  0.63067056,  0.24928319],
       [-0.37210602, -0.18600744,  0.47712912],
       [ 1.03642664, -0.11422251,  0.44540708],
       [ 0.7888434 ,  0.92892196, -0.70644946],
       [-0.9163265 , -0.07461488, -0.41469631],
       [-0.39768632, -0.30692441, -0.36821202],
       [ 0.62863332, -0.35479574,  0.5460504 ],
       [ 0.40403768, -0.73738104,  1.09399993],
       [-0.82373117, -0.52276878,  0.76292977],
       [ 0.61793028,  0.84307753,  0.38531323],
       [-0.83253694, -0.74781398,  0.82436132],
       [-0.59389059,  0.23396584,  0.77578463],
       [ 0.80987109, -0.31240863,  0.69942182],
       [-0.88226203,  0.08712526,  0.59811868],
       [-0.28936721,  0.75557583,  0.41928043],
       [ 0.02718534,  0.30058458,  0.74517389],
       [-0.09299941,  0.89674761, -0.22714417],
       [-0.14367222,  0.31662173,  0.41481224],
       [-0.28788546, -0.9492645 ,  1.16674059],
       [ 0.34744254, -0.86023672,  1.13401503],
       [ 0.80661389,  0.55315925,  0.65444146],
       [ 0.17571577,  0.12722649,  0.57556757],
       [ 0.0388814 ,  0.80925505, -0.19605724],
       [ 0.58984861,  1.0953078 ,  0.48921932],
       [ 0.05495577,  0.08629317,  1.06176275],
       [ 0.21577303,  0.51350197,  0.47234961],
       [ 0.80223511, -0.36601584,  0.71435158],
       [ 0.76744659, -0.69285184,  0.8036993 ],
       [-0.02725595, -0.41615871,  0.98684978],
       [ 0.24059524, -0.06489542,  0.86673003]])