In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('dulieuxettuyendaihoc.csv', header=0, delimiter=',', encoding='utf-8')

df = df[['T5','T6','GT','DT','KV','KT','NGONNGU','TOANLOGICPHANTICH','GIAIQUYETVANDE','NGAYTHI','DINHHUONGNGHENGHIEP']]

In [20]:
df.rename(columns={'TOANLOGICPHANTICH':'LOGIC','GIAIQUYETVANDE':'UNGXU','DINHHUONGNGHENGHIEP':'HUONGNGHIEP'},inplace=True)

In [21]:
'''
Phân tích suy diễn:
Tính toán -> kết luận
- Giả thuyết ?
- Điều kiện để áp dụng suy diễn ?
Normal, Student,...
Mức tin cậy: 99% 95% 90%
alpha(mức sai lệch): 1% 5% 10%
Chạy mô hình được p.value 
        (If < alpha -> reject H0, 
        If > alpha -> accept H0)
'''

'\nPhân tích suy diễn:\nTính toán -> kết luận\n- Giả thuyết ?\n- Điều kiện để áp dụng suy diễn ?\nNormal, Student,...\nMức tin cậy: 99% 95% 90%\nalpha(mức sai lệch): 1% 5% 10%\nChạy mô hình được p.value \n        (If < alpha -> reject H0, \n        If > alpha -> accept H0)\n'

In [22]:
'''
Chín dạng suy diễn 
1. One-Sample T-test
Mục đích: Kiểm định trung bình của một biến số (định lượng) có bằng một giá trị
H0: mean = x
Câu 1: Hãy kiểm tra xem LOGIC thí sinh khối C có bằng 4.0
'''
dfKhoiC = df.loc[df['KT'] == 'C']
dfKhoiC['LOGIC']
dfKhoiC['LOGIC'].describe()

count    14.000000
mean      4.232143
std       1.947544
min       1.500000
25%       2.750000
50%       3.875000
75%       5.187500
max       8.000000
Name: LOGIC, dtype: float64

In [23]:
import scipy.stats as stats
# Với one sample T-test thì giả thiết Ho: muy = 4.0
# Mặc định mức tin cậy là 95% và mức sai lầm là 5%
stats.ttest_1samp(dfKhoiC['LOGIC'], popmean=4.0)

# p-value=0.662 > alpha=0.05 -> chấp nhận H0
# Dựa trên dử liệu 14 người thi khối C ta đủ dử kiện để kết luận rằng TB của
# môn thi logic sắp sỉ là 4 với độ tin cậy là 95% (Hay mức sai lầm là 5%)

TtestResult(statistic=0.44599723713991907, pvalue=0.6629370899710998, df=13)

In [24]:
# Sinh viên kiểm tra xem
# điểm trung bình của môn thi UNGXU của khối thi C có bằng 5.0 hay không
stats.ttest_1samp(dfKhoiC['UNGXU'], popmean=5.0)

TtestResult(statistic=-0.7645471693105148, pvalue=0.4581953822944209, df=13)

In [25]:
# Sinh viên về tự nghiên cứu cách
# thiết lập mức tin cậy hoặc sai lầm trong đoạn code trên

In [26]:
'''
# TWO SAMPLE T-TEST
# Mục đích: Kiểm tra xem trung bình của 2 biến số (định lượng) có bằng nhau không
# H0: delta_mean = 0
'''

'\n# TWO SAMPLE T-TEST\n# Mục đích: Kiểm tra xem trung bình của 2 biến số (định lượng) có bằng nhau không\n# H0: delta_mean = 0\n'

In [27]:
# Hãy kiểm tra xem trung bình điểm thi LOGIC và
# trung bình điểm thi UNGXU của thí sinh thi khối C có bằng nhau không?
# Ho: mean_LOGIC - mean_UNGXU = 0
dfKhoiC = df.loc[df['KT'] == 'C']
stats.ttest_ind(dfKhoiC['LOGIC'], dfKhoiC['UNGXU'], equal_var=True)

TtestResult(statistic=-1.0329196014245297, pvalue=0.3111543826061086, df=26.0)

In [28]:
'''
1. One-sample T-test  n<30
2. Two-sample T-test  n<30

3. One-sample Z-test  n>30
4. Two-sample Z-test  n>30
'''

'\n1. One-sample T-test  n<30\n2. Two-sample T-test  n<30\n\n3. One-sample Z-test  n>30\n4. Two-sample Z-test  n>30\n'

In [29]:
from statsmodels.stats.weightstats import ztest as ztest
# Hãy kiểm tra xem trung bình điểm toán học kì 2 lớp 12 có bằng 8.0
ztest(df['T6'], value=8.0)

# Không đủ dử kiện để kl TB = 8

(-7.797828845339864, 6.298135014120743e-15)

In [30]:
# Kiểm tra trung bình LOGIC và UNGXU có bằng nhau không
# với mức tin cậy 95%
ztest(df['LOGIC'], df['UNGXU'], value=8.0)

(-58.01489654462426, 0.0)

In [31]:
from scipy.stats import pearsonr
# Câu 5: Kiểm tra xem điểm toán học kì 1 và học kì 2 năm lớp 12 có tương quan không?
pearsonr(df['T5'], df['T6'])

# Tương quan mẫu: 0.77  <0.5(yếu) 0.5->0.65(Tốt)
# H0: r = 0
# p-value = 148*10^-4
# KL: trên không gian mẫu tương, T5 T6 tương quan thuận và mức độ rất tốt
# Suy diễn ra cho tổng thể ta thấy pvalue <= a => bác bỏ h0 => T5 T6 tương quan

PearsonRResult(statistic=0.7786831657869809, pvalue=1.4846407216273482e-21)

In [32]:
# Sinh viên làm tương tự cho T5 và LOGIC có tương quan hay không?

# Tương quan mẫu = 0.18 => Trên không gian mẫu tương quan thuận với mức dộ tin cậy rất thấp
# Trên tổng thể pvalue - 0.06 > a=0.05 => Chấp nhận h0 => không tương quan

In [33]:
'''
6. Fishen Test
'''
import scipy.stats as stats
# Hãy kiểm tra xem có sự phụ thuộc nào giữa việc sinh viên có định hướng nghề nghiệp
# và giới tính khi thí sinh đăng ký dự thi hay không

crosdata = pd.crosstab(df['GT'], [df['HUONGNGHIEP']], rownames=['GT'], colnames=['HUONGNGHIEP'])
crosdata

HUONGNGHIEP  No  Yes
GT
F            23   25
M            32   20

In [34]:
odd_ratio, p_value = stats.fisher_exact(crosdata)
print('odd ratio is : ' + str(odd_ratio))
print('p_value is : ' + str(p_value))

# Chấp nhận h0 -> Đủ dữ kiện để nói về không có sự phụ thuộc giữa giới tính và định hướng nghề nghiệp

odd ratio is : 0.575
p_value is : 0.22763927303454412

In [35]:
from scipy.stats import chi2_contingency
# Hãy kiểm tra xem có sự phụ thuộc nào giữa khối thi và khu vực khi đăng ký dự thi hay không
crosdata = pd.crosstab(df['KV'], [df['KT']], rownames=['KV'], colnames=['KT'])
crosdata

KT    A  A1  B  C  D1
KV
1    29   2  8  8  13
2     9   0  0  2   8
2NT  11   4  1  4   1

In [36]:
stat, p, dof, expected = chi2_contingency(crosdata)
 
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.02012461887796485
Dependent (reject H0)

In [37]:
# GT và KT có mối quan hệ hay không?
crosdata = pd.crosstab(df['GT'], [df['KT']], rownames=['GT'], colnames=['KT'])
crosdata

KT   A  A1  B  C  D1
GT
F   15   5  4  8  16
M   34   1  5  6   6

In [38]:
stat, p, dof, expected = chi2_contingency(crosdata)
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.005044752209452435
Dependent (reject H0)

In [39]:
'''
7. Chi-square
8. Oneway Anova   Kiểm định sự phụ thuộc giá trị TB trên từng nhóm
9. Twoway Anova   Kiểm định sự phụ thuộc giá trị TB trên từng nhóm
'''
# Điểm toán học kì 2 lớp 12 có phụ thuộc vào giới tính không
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('T6 ~ GT', data=df).fit()
aov_table = sm.stats.anova_lm(model, typ=1)
aov_table

# p-value = 0.363 => accept H0 -> Điểm T6 không phụ thuộc vào giới tính

            df     sum_sq  mean_sq         F    PR(>F)
GT         1.0    1.55201  1.55201  0.833769  0.363426
Residual  98.0  182.42109  1.86144       NaN       NaN

In [40]:
# Điểm LOGIC có phụ thuộc vào khu vực hay không
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('LOGIC ~ KV', data=df).fit()
aov_table = sm.stats.anova_lm(model, typ=1)
aov_table

            df      sum_sq   mean_sq         F    PR(>F)
KV         2.0    6.053398  3.026699  2.790934  0.066299
Residual  97.0  105.194102  1.084475       NaN       NaN

In [41]:
# Điểm UNGXU có phụ thuộc khối thi hay không
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('UNGXU ~ KT', data=df).fit()
aov_table = sm.stats.anova_lm(model, typ=1)
aov_table

            df      sum_sq   mean_sq         F   PR(>F)
KT         4.0    3.967636  0.991909  0.911814  0.46041
Residual  95.0  103.344864  1.087841       NaN      NaN

In [42]:
# Hãy cho biết điểm LOGIC có phụ thuộc vào loại GT trên từng nhóm KV hay không
model = ols('LOGIC ~ GT + KV + GT:KV',data=df).fit()
result = sm.stats.anova_lm(model, type=2)
 
# Print the result
print(result)

# Logiv -> GT => p-value = 0.052 => accept H0 ->không phụ thuộc
# Logiv -> KV => p-value = 0.019 => reject H0 ->phụ thuộc
# Logiv -> GT:KV => p-value = 0.577 => accept H0 ->không phụ thuộc

            df     sum_sq   mean_sq         F    PR(>F)
GT         1.0   3.998401  3.998401  3.853364  0.052602
KV         2.0   8.561314  4.280657  4.125382  0.019173
GT:KV      2.0   1.149707  0.574854  0.554002  0.576510
Residual  94.0  97.538077  1.037639       NaN       NaN

In [43]:
# Phân tích xem NGONNGU có phụ thuộc trên nhóm KV theo từng loại KT hay không
model = ols('NGONNGU ~ KV + KT + KV:KT',data=df).fit()
result = sm.stats.anova_lm(model, type=2)
 
# Print the result
print(result)

            df      sum_sq    mean_sq          F        PR(>F)
KV         2.0    4.237274   2.118637   1.416009  2.482173e-01
KT         4.0   65.431143  16.357786  10.932867  3.150065e-07
KV:KT      8.0    1.486487   0.185811   0.124188  9.981082e-01
Residual  87.0  130.169640   1.496203        NaN           NaN