In [1]:
import pyodbc
import pandas as pd

In [2]:
print (pyodbc.drivers())

['SQL Server', 'ODBC Driver 17 for SQL Server', 'SQL Server Native Client 11.0', 'SQL Server Native Client RDA 11.0', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)']

In [3]:

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                        'SERVER=HUNG0908\SQLEXPRESS;'
                        'DATABASE=dbPythonTestSQL;'
                        'UID=sa'
                        'PWD=123456;'
                        'Trusted_Connection=yes;')

In [4]:
cursor = conn.cursor()

In [5]:
cursor.execute('SELECT * FROM tblUsers ')
for i in cursor:
    print(i)

('u0001', 'Henry', datetime.date(2001, 7, 31), 125.5, 1)
('u0002', 'Peter', datetime.date(1990, 8, 25), 500.0, 1)
('u0003', 'Owen', datetime.date(1995, 2, 28), 275.5, 2)
('u0004', 'Jackson', datetime.date(2002, 4, 25), 400.0, 4)
('u0005', 'Ellite', datetime.date(2000, 5, 20), 600.0, 3)

In [7]:
# a. Lấy thông tin nhân viên có tuổi nhỏ hơn 35
cursor.execute("SELECT * FROM  tblUsers WHERE (2023- year(ubirthdate))<35")
for i in cursor:
    print(i)

('u0001', 'Henry', datetime.date(2001, 7, 31), 125.5, 1)
('u0002', 'Peter', datetime.date(1990, 8, 25), 500.0, 1)
('u0003', 'Owen', datetime.date(1995, 2, 28), 275.5, 2)
('u0004', 'Jackson', datetime.date(2002, 4, 25), 400.0, 4)
('u0005', 'Ellite', datetime.date(2000, 5, 20), 600.0, 3)

In [11]:
# b. Lấy thông tin uname và tuổi (age) của tất cả các nhân viên
cursor.execute("select uname,age=(2023-year(ubirthdate)) from tblUsers")
for i in cursor:
    print(i)

('Henry', 22)
('Peter', 33)
('Owen', 28)
('Jackson', 21)
('Ellite', 23)

In [13]:
# c. Thêm nhân viên mới (u0006,”David”,”07-22-2000”,450,5)
cursor.execute("INSERT INTO tblUsers(uid, uname, ubirthdate, usalary, urank) values ('u0006','David','07-22-2000',450,5)")
conn.commit

In [14]:
# d. Cập nhật lương của nhân viên u0002 thành 650
cursor.execute("UPDATE tblUsers SET usalary=650 WHERE uid='u0002'").rowcount
conn.commit

In [15]:
# e. Xóa nhân viên u0006
delete = cursor.execute("DELETE FROM tblUsers WHERE uid='u0006'").rowcount
conn.commit()