In [2]:
import pyodbc

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                        'SERVER=LAPTOP-I1KPT87T\SQLEXPRESS;'
                        'DATABASE=dbPythonTestSQL;'
                        'PWD=12345;'
                        'Trusted_Connection=yes;')

In [3]:
cursor = conn.cursor()

#a. Lấy thông tin nhân viên có tuổi nhỏ hơn 35
cursor.execute('SELECT * FROM tblUsers WHERE 2023 - YEAR(ubirthday) < 35')
for i in cursor:
    print(i)

('u0001', 'Henry', datetime.date(2001, 7, 31), 125.5, 1)
('u0002', 'Peter', datetime.date(1990, 8, 25), 500.0, 1)
('u0003', 'Owen', datetime.date(1995, 2, 28), 275.5, 2)
('u0004', 'Jackson', datetime.date(2002, 4, 25), 400.0, 4)
('u2005', 'Ellite', datetime.date(2000, 5, 20), 60.0, 3)

In [13]:
#b. Lấy thông tin uname và tuổi (age) của tất cả các nhân viên
cursor.execute('SELECT uname, age = (2023 - YEAR(ubirthday)) FROM tblUsers')
for i in cursor:
    print(i)

('Henry', 22)
('Peter', 33)
('Owen', 28)
('Jackson', 21)
('David', 23)
('Ellite', 23)

In [14]:
#c. Thêm nhân viên mới (u0006,”David”,”07-22-2000”,450,5)
cursor.execute("INSERT INTO tblUsers(uid, uname, ubirthday, usalary, urank) values ('u0006','David','07-22-2000',450,5)")
conn.commit

In [15]:
#d. Cập nhật lương của nhân viên u0002 thành 650
cursor.execute("UPDATE tblUsers SET usalary=650 WHERE uid='u0002'").rowcount
conn.commit

In [19]:
#Xóa nhân viên u0006
delete = cursor.execute("DELETE FROM tblUsers WHERE uid='u0006'").rowcount
conn.commit()